{% include "header.html" %}
<h2 class='text-center p-2 m-1'>
    Add Details <span class='mx-5'><a class='btn btn-primary' href="{% url 'showAll' %}"><i class="fa-solid fa-arrow-left" style='color:white;'></i></a></span>
</h2>
<div class='d-flex justify-content-center'>
{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">{{ message }}
    </div>
    {% endfor %}
{% endif %}
</div>
  <div class='container'>
      <form method='POST' action='{% url "add" %}'>
        {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name='firstname'>
          </div>
          <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastname">
          </div>
          <div class="mb-3">
              <label class="form-label">Age</label>
              <input type="number" class="form-control" id="age" name="age">
          </div>
          <div class="mb-3">
              <label class="form-label">Date</label>
              <input type="date" class="form-control" id="date" name="date">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
{% include "footer.html" %}